@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #0a100d;
    --accent-color: #902923;
    --additional-color: #a22c29;
    --light-color: #f3eada;

    --header-font: "Playfair Display";
    --text-font: "Roboto";
}

body {
    background-color: var(--accent-color);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.page-header {
    background-color: var(--primary-color);
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    display: flex;
    gap: 1rem;
}

.nav-btn {
    font-family: var(--header-font);
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    color: var(--light-color);
    background: none;
    border: none;
    cursor: pointer;
    transition: text-decoration-color 0.5s ease, text-underline-offset 0.5s ease;
}

.nav-btn:hover,
.footer-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.page-content {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOME */
/* THE GRID CONTENT */
.content {
    margin: 2rem;
    max-width: 50%;
    border-radius: 0.5rem;
    background-color: rgba(10, 16, 13, 0.5);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1440px) {
    .content {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}

/* LEFT SIDE OF THE GRID */
.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-logo {
    /* max-height: 400px; */
    height: clamp(250px, 50vw, 400px);
}

/* RIGHT SIDE OF THE GRID */
.content-information {
    padding: 2rem 3rem;

    display: grid;
    gap: 2rem;
}

.description {
    color: var(--light-color);
    font-family: var(--header-font);
    font-size: 1.4rem;
    text-align: justify;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-title,
.contact-title,
.menu-title {
    color: var(--light-color);
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.service-list {
    list-style: disc;
    padding-left: 1.5rem;
}

.service-list li {
    color: var(--light-color);
    font-family: var(--header-font);
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: default;
}

.service-list li:hover {
    color: var(--accent-color);

    /* AI Generated HEHE */
    transform: translateX(5px);
}

/* MENU */
.content.prices-content {
    padding: 2rem;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.menu-title {
    text-align: center;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.price {
    background-color: var(--light-color);
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.price-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.price-value {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--accent-color);
}

.flavors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flavors-title {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: bold;
}

.flavor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.flavor {
    border: 2px solid var(--accent-color);
    background-color: var(--light-color);
    color: var(--primary-color);
    padding: 0.4rem 1.4rem;
    border-radius: 1.2rem;
}

/* CONTACT */
.content.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    padding: 1rem 2.5rem;
    gap: 1.6rem;
}

.facebook {
    border: 2px solid var(--light-color);
    border-radius: 0.4rem;
}

.contact-icon,
.links {
    color: var(--light-color);
    width: 34px;
    height: 34px;
}

.contact-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-footer {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page-footer,
.footer-link {
    font-family: var(--header-font);
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--light-color);
    transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
}
